html {
    /* background-color:rgb(209, 226, 240); */
    
}

body {
    background-image: url(./img/blackboard.jpg);
    color: white;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
}

#title {
    font-size: 60px;  
    font-weight: 550;
    font-family: "Brush Script MT", sans-serif;
    
}

.center {
    margin: auto;
}

.center.list {
    text-align: center;
    list-style-position: inside;
}

.recipes {
    font-size: 30px;
}

.ingredients {
    line-height: 26px;
}


.text {
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
}

.heading {
    font-family: "Brush Script MT", sans-serif;
    font-size: 60px;
    font-weight: 550;
}

.head {
    font-family: "Brush Script MT", sans-serif;
    text-decoration: underline;
    font-weight: 450;
    font-size: 46px;
}

.link {
    color: white;
    font-family: sans-serif;
}

h2 {
    font-size: 46px;
}

h3 {
    font-size: 46px;
}

.button {
    display: block;
    margin: 10px auto;
    padding: 15px;
    font-size: 16px;
}

.page-link {
    color: black;
}