html {
    /* background-color:rgb(209, 226, 240); */
    
}

body {
    background-image: url(./img/blackboard.jpg);
    color: white;
}

#title {
    font-size: 60px;  
    font-weight: 700;
    font-family: "Brush Script MT", sans-serif;
    
}

.center {
    text-align:center;
}

.center.list {
    text-align: center;
    list-style-position: inside;
}

.recipes {
    font-size: 24px;
}

.ingredients {
    line-height: 20px;
}


.text {
    font-size: 18px;
    font-family: "Brush Script MT", sans-serif;
}

.heading {
    font-family: "Brush Script MT", sans-serif;
}

.link {
    color: white;
}